body {
    background-color: rgb(248, 246, 237)!important;
}

.nav-text-color {
    color: #9b630f;
}

.logo {
    /* color: rgb(94, 48, 6); */
    font-size: 2rem!important;
}

h1, h2, h3, h4 {
    color : #6D071A;
}

.p-discret {
    color: rgb(143, 143, 143);
  }
  
.a-color1 {
    color : #e48820;
}

a:hover {
    color: #9b630f;
    text-decoration: none;
}

.gradient1-shadow {
    box-shadow: 5px 5px 5px #0A2B43;
}

.border-bottom {
    border-bottom: 0.1rem solid rgb(173, 173, 173);
}
.border-styled {
    box-shadow: 0 1px 0 rgb(54, 22, 7);
}



