body {
    background-color: white;
}

.nav-text-color {
    color: #9b630f;
}

.a-color1 {
    color : #e48820;
}

a:hover {
    color: #9b630f;
    text-decoration: none;
}

.gradient1-shadow {
    box-shadow: 5px 5px 5px #0A2B43;
}

.border-bottom {
    border-bottom: 0.1rem solid rgb(173, 173, 173);
}
.border-styled {
    box-shadow: 0 1px 0 rgb(54, 22, 7);
}







